<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Colocar ambiente de "Desarrollo" para imprimir el log de debug-->
    <add key="Ambiente" value="Desarrollo"/>
    <add key="RutaServidor" value="tcp://localhost:53108/"/>

    <!-- Servicios del servidor -->
    <add key="TasaServicios" value="TasaServicios.rem"/>
    <add key="DocumentosTraduccion" value="DocumentosTraduccion.rem"/>
    <add key="DocumentosMarca" value="DocumentosMarca.rem"/>
    <add key="DocumentosPatente" value="DocumentosPatente.rem"/>    
    <add key="Anualidad" value="Anualidad.rem"/>
    <add key="TipoClase" value="TipoClase.rem"/>
    <add key="TipoMarca" value="TipoMarca.rem"/>
    <add key="TipoPatente" value="TipoPatente.rem"/>
    <add key="Material" value="Material.rem"/>
    <add key="FacRecurso" value="FacRecurso.rem"/>    
    <add key="Motivo" value="Motivo.rem"/>
    <add key="DetalleEnvio" value="DetalleEnvio.rem"/>
    <add key="Impuesto" value="Impuesto.rem"/>
    <add key="Sociedad" value="Sociedad.rem"/>
    <add key="Guia" value="Guia.rem"/>
    <!-- Fin servicios del servidor -->

    <!--Ruta de archivos pdfs-->
    <add key="rutaPoderes" value="C:/POD/POD."/>
    <add key="rutaAsociados" value="C:/ASO/ASO."/>
    <!--Ruta de archivos pdfs-->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <client>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.ITasaServicios, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/TasaServicios.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IDocumentosTraduccion, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/DocumentosTraduccion.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IDocumentosMarca, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/DocumentosMarca.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IDocumentosPatente, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/DocumentosPatente.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IAnualidad, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/Anualidad.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.ITipoClase, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/TipoClase.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.ITipoMarca, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/TipoMarca.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.ITipoPatente, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/TipoPatente.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IMaterial, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/Material.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IFacRecurso, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/FacRecurso.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IMotivo, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/Motivo.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IDetalleEnvio, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/DetalleEnvio.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IImpuesto, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/Impuesto.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.ISociedad, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/Sociedad.rem">
        </wellknown>
        <wellknown type="Diginsoft.Bolet.ObjetosComunes.ContratosServicios.IGuia, Diginsoft.Bolet.ObjetosComunes" url="tcp://localhost:53108/Guia.rem">
        </wellknown>

      </client>
    </application>
  </system.runtime.remoting>
</configuration>