<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Colocar ambiente de "Desarrollo" para imprimir el log de debug-->
    <add key="Ambiente" value="Desarrollo"/>
    <add key="RutaServidor" value="tcp://localhost:53108/"/>
    
    <!-- Servicios del servidor -->
    <add key="AgenteServicios" value="AgenteServicios.rem"/>
    <add key="CartaServicios" value="CartaServicios.rem"/>
    <add key="ConceptoServicios" value="ConceptoServicios.rem"/>
    <add key="ContactoServicios" value="ContactoServicios.rem"/>
    <add key="AsociadoServicios" value="AsociadoServicios.rem"/>
    <add key="DepartamentoServicios" value="DepartamentoServicios.rem"/>
    <add key="DetallePagoServicios" value="DetallePagoServicios.rem"/>
    <add key="EstadoServicios" value="EstadoServicios.rem"/>
    <add key="EstatusServicios" value="EstatusServicios.rem"/>
    <add key="EtiquetaServicios" value="EtiquetaServicios.rem"/>
    <add key="IdiomaServicios" value="IdiomaServicios.rem"/>
    <add key="InteresadoServicios" value="InteresadoServicios.rem"/>
    <add key="InternacionalServicios" value="InternacionalServicios.rem"/>
    <add key="JustificacionServicios" value="JustificacionServicios.rem"/>
    <add key="MonedaServicios" value="MonedaServicios.rem"/>
    <add key="NacionalServicios" value="NacionalServicios.rem"/>
    <add key="ObjetoServicios" value="ObjetoServicios.rem"/>
    <add key="PaisServicios" value="PaisServicios.rem"/>
    <add key="PoderServicios" value="PoderServicios.rem"/>
    <add key="ResolucionServicios" value="ResolucionServicios.rem"/>
    <add key="RolServicios" value="RolServicios.rem"/>
    <add key="TarifaServicios" value="TarifaServicios.rem"/>
    <add key="TipoClienteServicios" value="TipoClienteServicios.rem"/>
    <add key="TipoFechaServicios" value="TipoFechaServicios.rem"/>
    <add key="TipoInfobolServicios" value="TipoInfobolServicios.rem"/>
    <add key="UsuarioServicios" value="UsuarioServicios.rem"/>
    <add key="BoletinServicios" value="BoletinServicios.rem"/>
    <!-- Fin servicios del servidor -->
    
    <!--Ruta de archivos pdfs-->
    <add key="rutaPoderes" value="C:/POD/POD."/>
    <add key="rutaAsociados" value="C:/ASO/ASO."/>
    <!--Ruta de archivos pdfs-->
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <client>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IAgenteServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/AgenteServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IAsociadoServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/AsociadoServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IBoletinServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/BoletinServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICartaServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/CartaServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IConceptoServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/ConceptoServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IContactoServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/ContactoServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IDepartamentoServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/DepartamentoServicios.rem">    
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IDetallePagoServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/DetallePagoServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IEstadoServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/EstadoServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IEstatusServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/EstatusServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IEtiquetaServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/EtiquetaServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IIdiomaServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/Idiomaervicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IInteresadoServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/InteresadoServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IInternacionalServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/InternacionalServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IJustificacionServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/JustificacionServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IMonedaServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/MonedaServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.INacionalServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/NacionalServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IObjetoServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/ObjetoServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IPaisServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/PaisServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IPoderServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/PoderServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IresolucionServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/ResolucionServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IRolServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/RolServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITarifaServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/TarifaServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITipoClienteServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/TipoClienteServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITipoFechaServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/TipoFechaServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITipoInfobolServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/TipoInfobolServicios.rem">
        </wellknown>
        <wellknown
          type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IUsuarioServicios, Trascend.Bolet.ObjetosComunes"
          url="tcp://localhost:53108/UsuarioServicios.rem">
        </wellknown>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
