<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Colocar ambiente de "Desarrollo" para imprimir el log de debug-->
    <add key="Ambiente" value="Desarrollo" />
    <add key="RutaServidor" value="tcp://localhost:53108/" />

    <!--Ruta de .txt de Recordatorio-->
    <add key="TxtPath" value="C:\bolyter\renmarca.txt" />

    <!--Ruta de Comando de Recordatorio-->
    <add key="ComandoRecordatorio" value="START \\Byt2003\Aplicaciones\TEMPLATE\AMRENREC.dot" />

    <!--tiempos de Recordatorio en meses-->
    <add key="Recordatorio" value="4" />
    <add key="PrimerRecordatorio" value="3" />
    <add key="SegundoRecordatorio" value="2" />
    <add key="UltimoRecordatorio" value="1" />

    <!--Ruta de los archivos .bat-->
    <add key="BatPrint" value="C:\print.bat" />
    <add key="RutaBatEscrito" value="\\Byt2003\Aplicaciones\carta\UNIFACE" />

    <!--Ruta de imagenes de las marcas-->
    <add key="RutaImagenesDeMarcas" value="\\BYT2008\\VEN\MAR\IMG\VEN.MAR.IMG." />

    <!--Ruta de imagenes de las marcas-->
    <add key="RutaImagenesDePatentes" value="\\BYT2008\\VEN\PAT\IMG\PAT.IMG." />

    <!--Ruta de Memoria de Patente-->
    <add key="RutaExpedientePatente" value="\\BYT2008\BIBLIO\VEN\PAT\EXP\" />
    <add key="NombreExpedientePatente" value="VEN.PAT." />

    <!--Ruta de Memoria de Patente-->
    <add key="RutaTituloPatente" value="\\BYT2008\BIBLIO\VEN\PAT\TIT\" />
    <add key="NombreTituloPatente" value="PAT.TIT." />

    <!--Ruta de Memoria de Patente-->
    <add key="RutaSolicitudPatente" value="\\BYT2008\BIBLIO\VEN\PAT\SOL\" />
    <add key="NombreSolicitudPatente" value="PAT.SOL." />

    <!--Ruta de Memoria de Patente-->
    <add key="RutaMemoriaPatente" value="\\BYT2008\BIBLIO\VEN\PAT\MEM\" />
    <add key="NombreMemoriaPatente" value="PAT.MEM." />

    <!--Ruta de memorias de Patentes-->
    <add key="RutaMemoriasDePatentes1" value="\\BYT2008\VEN\PAT\MEM.RES.N." />
    <add key="RutaMemoriasDePatentes2" value="\\BYT2008\VEN\PAT\MEM.DES.N." />
    <add key="RutaMemoriasDePatentes3" value="\\BYT2008\VEN\PAT\MEM.REI.N." />
    <add key="RutaMemoriasDePatentes4" value="\\BYT2008\VEN\PAT\MEM.FIG.N." />
    <add key="RutaMemoriasDePatentes5" value="\\BYT2008\VEN\PAT\MEM.TAB.N." />
    <add key="RutaMemoriasDePatentes6" value="\\BYT2008\VEN\PAT\MEM.LIS.N." />
    <add key="PruebaMemoria" value="C:\Documents and Settings\sotowi\Mis documentos\Downloads\" />

    <!--Nombre de archivos .BAT-->
    <!--Escritos Marca-->
    <add key="EscritoCopiaCertificada" value="MESCCCERT.bat" />
    <add key="EscritoCorreccionErrorMaterial" value="MESCCERMA.bat" />
    <add key="EscritoCorreccionErrorMaterialDistingue" value="MESCCERMD.bat" />
    <add key="EscritoCertificadoDeOrigen" value="MESCCEROR.bat" />
    <add key="EscritoContinuacionDeTramite" value="MESCCOTRA.bat" />
    <add key="EscritoCorreccionDelDistingue" value="MESCCORDI.bat" />
    <add key="EscritoCambioDeTramitante" value="MESCCTRAM.bat" />
    <add key="EscritoDeDesistimiento" value="MESCDESIS.bat" />
    <add key="EscritoLimitacionDistingue" value="MESCLIMDI.bat" />
    <add key="EscritoNumeracionDePoderPorMarca" value="MESCNPODE.bat" />
    <add key="EscritoNumeracionDePoderPorInteresado" value="MESCNPODI.bat" />
    <add key="EscritoPrioridadExtranjera" value="MESCPRIEX.bat" />
    <add key="EscritoReingresoDeClasificacion" value="MESCRECLA.bat" />
    <add key="EscritoReingresoDeDistingue" value="MESCREDIS.bat" />
    <add key="EscritoReingresoDePoderAnexo" value="MESCREIPO.bat" />
    <add key="EscritoReingresoDeNombreDeMarca" value="MESCRENMA.bat" />
    <add key="EscritoReingresoDePoderDistingueConSinClasificacion" value="MESCRPDIR.bat" />
    <add key="EscritoReingresoDePoderPresentado" value="MESCRPODP.bat" />
    <add key="EscritoReingresoDePoderYReclasificacion" value="MESCRPORE.bat" />
    <add key="EscritoReingresoDePoderYPrioridad" value="MESCRPPRI.bat" />
    <add key="EscritoRenunciaParcial" value="MESCREPAD.bat" />
    <add key="EscritoConsignacionDeBusqueda" value="MESCCOBSQ.bat" />
    <add key="EscritoNotificacionDeIngresoDePoder" value="MESCNOIPO.bat" />
    <!--Fin Escritos Marca-->
    <!--Escritos Patente-->
    <add key="EscritoExamenDePatentabilidad" value="PPATENTA.bat" />
    <add key="EscritoNumeracionDePoder" value="PPATNPODE.bat" />
    <add key="EscritoProrrogaDeFondo" value="PPATPROFN.bat" />
    <add key="EscritoProrrogaDeForma" value="PPATPROFR.bat" />
    <add key="EscritoProrrogaDeContestacionDeOposicion" value="PPATPROCO.bat" />
    <add key="EscritoOficioDeFondo" value="PPATOFIFO.bat" />
    <add key="EscritoCorreccionVoluntaria" value="PCOVOLDE.bat" />
    <add key="EscritoConsignacionDeJuramentoYPoder" value="PCOPATJUP.bat" />
    <add key="EscritoConsignacionDeJuramento" value="PCOPATJUR.bat" />
    <add key="EscritoConsignacionDePoder" value="PCOPATPOD.bat" />
    <add key="EscritoCorreccionDePublicacionEnPrensa" value="PPATCEPUB.bat" />
    <add key="EscritoContestacionAOposicion" value="PPATCOPOS.bat" />
    <add key="EscritoPagoDeAnualidad" value="PPATEPANU.bat" />
    <add key="EscritoReconsideracionDePerencion" value="PPATRERPE.bat" />
    <add key="EscritoReconsideracionPerimidaVariante" value="PPATRERPO.bat" />
    <add key="EscritoReconsideracionDePrioridadExtinguida" value="PPATREPEX.bat" />
    <add key="EscritoOficioDeJuramentoYPoder" value="POFPATJUP.bat" />
    <add key="EscritoOficioDeJuramento" value="POFPATJUR.bat" />
    <add key="EscritoOficioDePoder" value="POFPATPOD.bat" />
    <add key="EscritoConsignacionDePrioridadExtranjera" value="PPATCOPRI.bat" />
    <!--Fin Escritos Patente-->
    <!--Ruta de los archivos de lectura para ejecutar los .bat-->
    <add key="txtPrint" value="C:\print.txt" />
    <!--Ruta de los archivos de lectura para ejecutar los .bat-->
    <add key="NombreProceso" value="Trascend.Bolet.Cliente" />
    <add key="NombreProcesoVSHost" value="Trascend.Bolet.Cliente.vshost" />
    <!-- Servicios del servidor -->
    <add key="AgenteServicios" value="AgenteServicios.rem" />
    <add key="AnaquaServicios" value="AnaquaServicios.rem" />
    <add key="AnexoServicios" value="AnexoServicios.rem" />
    <add key="AsignacionServicios" value="AsignacionServicios.rem" />
    <add key="BoletinServicios" value="BoletinServicios.rem" />
    <add key="BusquedaServicios" value="BusquedaServicios.rem" />
    <add key="CambioDeNombreServicios" value="CambioDeNombreServicios.rem" />
    <add key="CambioDeDomicilioServicios" value="CambioDeDomicilioServicios.rem" />
    <add key="CambioPeticionarioServicios" value="CambioPeticionarioServicios.rem" />
    <add key="CambioDeNombrePatenteServicios" value="CambioDeNombrePatenteServicios.rem" />
    <add key="CambioDeDomicilioPatenteServicios" value="CambioDeDomicilioPatenteServicios.rem" />
    <add key="CambioPeticionarioPatenteServicios" value="CambioPeticionarioPatenteServicios.rem" />
    <add key="CartaServicios" value="CartaServicios.rem" />
    <add key="CartaOutServicios" value="CartaOutServicios.rem" />
    <add key="CategoriaServicios" value="CategoriaServicios.rem" />
    <add key="CesionServicios" value="CesionServicios.rem" />
    <add key="CesionPatenteServicios" value="CesionPatenteServicios.rem" />
    <add key="ConceptoServicios" value="ConceptoServicios.rem" />
    <add key="CondicionServicios" value="CondicionServicios.rem" />
    <add key="ContactoServicios" value="ContactoServicios.rem" />
    <add key="CorresponsalServicios" value="CorresponsalServicios.rem" />
    <add key="AsociadoServicios" value="AsociadoServicios.rem" />
    <add key="EntradaAlternaServicios" value="EntradaAlternaServicios.rem" />
    <add key="DatosTransferenciaServicios" value="DatosTransferenciaServicios.rem" />
    <add key="DepartamentoServicios" value="DepartamentoServicios.rem" />
    <add key="DetallePagoServicios" value="DetallePagoServicios.rem" />
    <add key="EstadoServicios" value="EstadoServicios.rem" />
    <add key="EstadoMarcaServicios" value="EstadoMarcaServicios.rem" />
    <add key="EstatusServicios" value="EstatusServicios.rem" />
    <add key="EtiquetaServicios" value="EtiquetaServicios.rem" />
    <add key="FechaServicios" value="FechaServicios.rem" />
    <add key="FusionServicios" value="FusionServicios.rem" />
    <add key="FusionPatenteServicios" value="FusionPatenteServicios.rem" />
    <add key="InfoAdicionalServicios" value="InfoAdicionalServicios.rem" />
    <add key="InfoBolServicios" value="InfoBolServicios.rem" />
    <add key="InfoBolPatenteServicios" value="InfoBolPatenteServicios.rem" />
    <add key="IdiomaServicios" value="IdiomaServicios.rem" />
    <add key="InteresadoServicios" value="InteresadoServicios.rem" />
    <add key="InternacionalServicios" value="InternacionalServicios.rem" />
    <add key="InventorServicios" value="InventorServicios.rem" />
    <add key="JustificacionServicios" value="JustificacionServicios.rem" />
    <add key="LicenciaServicios" value="LicenciaServicios.rem" />
    <add key="LicenciaPatenteServicios" value="LicenciaPatenteServicios.rem" />
    <add key="ListaDatosValoresServicios" value="ListaDatosValoresServicios.rem" />
    <add key="ListaDatosDominioServicios" value="ListaDatosDominioServicios.rem" />
    <add key="MarcaServicios" value="MarcaServicios.rem" />
    <add key="MarcaTerceroServicios" value="MarcaTerceroServicios.rem" />
    <add key="MarcaBaseTerceroServicios" value="MarcaBaseTerceroServicios.rem" />
    <add key="MedioServicios" value="MedioServicios.rem" />
    <add key="MemoriaServicios" value="MemoriaServicios.rem" />
    <add key="MonedaServicios" value="MonedaServicios.rem" />
    <add key="NacionalServicios" value="NacionalServicios.rem" />
    <add key="ObjetoServicios" value="ObjetoServicios.rem" />
    <add key="OperacionServicios" value="OperacionServicios.rem" />
    <add key="PaisServicios" value="PaisServicios.rem" />
    <add key="PatenteServicios" value="PatenteServicios.rem" />
    <add key="PlanillaServicios" value="PlanillaServicios.rem" />
    <add key="PoderServicios" value="PoderServicios.rem" />
    <add key="RemitenteServicios" value="RemitenteServicios.rem" />
    <add key="RenovacionServicios" value="RenovacionServicios.rem" />
    <add key="ResolucionServicios" value="ResolucionServicios.rem" />
    <add key="ResumenServicios" value="ResumenServicios.rem" />
    <add key="RolServicios" value="RolServicios.rem" />
    <add key="ServicioServicios" value="ServicioServicios.rem" />
    <add key="StatusWebServicios" value="StatusWebServicios.rem" />
    <add key="TarifaServicios" value="TarifaServicios.rem" />
    <add key="TipoBaseServicios" value="TipoBaseServicios.rem" />
    <add key="TipoClienteServicios" value="TipoClienteServicios.rem" />
    <add key="AnualidadServicios" value="AnualidadServicios.rem" />
    <add key="TipoEstadoServicios" value="TipoEstadoServicios.rem" />
    <add key="TipoFechaServicios" value="TipoFechaServicios.rem" />
    <add key="TipoInfobolServicios" value="TipoInfobolServicios.rem" />
    <add key="UsuarioServicios" value="UsuarioServicios.rem" />
    <!-- Fin servicios del servidor -->
    <!--Ruta de archivos pdfs-->
    <add key="rutaPoderes" value="C:/POD/POD." />
    <add key="rutaAsociados" value="C:/ASO/ASO." />
    <add key="rutaCertificados" value="\\BYT2008\BIBLIOTECA\CERTIFICADOS\M\" />
    <!--Ruta de archivos pdfs-->
    <!--Ruta de la página de SAPI-->
    <add key="UrlSAPI" value="http://www.google.com" />
    <!--Ruta de la página de SAPI-->
    <!--Ruta de la página de Generar Cartel-->
    <add key="UrlGenerarCartel" value="http://192.168.1.21/BYT/php/GenCartel.php?cod=" />
    <!--Ruta de la página de Generar Cartel-->
    <!--Tiempo de renovación-->
    <add key="PeriodoRenovacion" value="15" />
    <!--Tiempo de renovación-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <client>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IAgenteServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/AgenteServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IAnaquaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/AnaquaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IAnexoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/AnexoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IAsignacionServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/AsignacionServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IAsociadoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/AsociadoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IBoletinServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/BoletinServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IBusquedaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/BusquedaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICambioDeNombreServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CambioDeNombreServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICambioDeDomicilioServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CambioDeDomicilioServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICambioPeticionarioServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CambioPeticionarioServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICambioDeNombrePatenteServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CambioDeNombrePatenteServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICambioDeDomicilioPatenteServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CambioDeDomicilioPatenteServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICambioPeticionarioPatenteServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CambioPeticionarioPatenteServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICartaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CartaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICartaOutServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CartaOutServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICategoriaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CategoriaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICesionServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CesionServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IConceptoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/ConceptoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICondicionServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CondicionServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ICorresponsalServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/CorresponsalServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IEntradaAlternaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/EntradaAlternaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IContactoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/ContactoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IDatosTransferenciaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/DatosTransferenciaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IDepartamentoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/DepartamentoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IDetallePagoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/DetallePagoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IEstadoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/EstadoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IEstatusServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/EstatusServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IEtiquetaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/EtiquetaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IFechaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/FechaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IFusionServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/FusionServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IInfoAdicionalServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/InfoAdicionalServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IInfoBolServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/InfoBolServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IIdiomaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/IdionaServicio.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IInteresadoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/InteresadoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IInternacionalServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/InternacionalServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IInventorServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/InventorServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IJustificacionServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/JustificacionServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ILicenciaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/LicenciaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IListaDatosValoresServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/ListaDatosValoresServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IListaDatosDominioServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/ListaDatosDominioServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IMarcaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/MarcaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IMarcaTerceroServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/MarcaTerceroServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IMedioServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/MedioServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IMemoriaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/MemoriaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IMonedaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/MonedaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.INacionalServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/NacionalServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IObjetoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/ObjetoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IOperacionServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/OperacionServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IPaisServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/PaisServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IPatenteServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/PatenteServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IPlanillaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/PlanillaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IPoderServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/PoderServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IRemitenteServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/RemitenteServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IRenovacionServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/RenovacionServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IresolucionServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/ResolucionServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IResumenServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/ResumenServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IRolServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/RolServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IServicioServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/ServicioServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IStatusWebServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/StatusWebServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITarifaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/TarifaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITipoClienteServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/TipoClienteServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITipoEstadoServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/TipoEstadoServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITipoFechaServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/TipoFechaServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.ITipoInfobolServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/TipoInfobolServicios.rem">
        </wellknown>
        <wellknown type="Trascend.Bolet.ObjetosComunes.ContratosServicios.IUsuarioServicios, Trascend.Bolet.ObjetosComunes" url="tcp://localhost:53108/UsuarioServicios.rem">
        </wellknown>
      </client>
    </application>
  </system.runtime.remoting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>