<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>
    <!--Posibles manejadores: NHibernate-->
    <add key="ManejadorBD" value="NHibernate" />

    <!--Manejador utilizado para el llamado de los StoredProcedures-->
    <add key="ManejadorStoredProcedures" value="Oracle" />

    <!--String de conexion para Stored Procedures-->
    <!--<add key="StringConexion" value="User Id=bolet; Password=bolet; Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.2.4)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=xe)));"/>-->


    <!-- Colocar ambiente de "Desarrollo" para imprimir el log de debug -->
    <add key="Ambiente" value="Desarrollo" />

    <!--Ruta donde se encontrara las sesiones de los usuarios-->
    <add key="RutaXMLUsuarios" value="Usuarios.xml"/>

  </appSettings>

  <system.runtime.remoting>
    <customErrors mode="off" />
    <application>
      <channels>
        <channel ref="tcp" port="53108">
         <serverProviders>
            <provider ref="wsdl" />
            <formatter ref="soap" typeFilterLevel="Full" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AgenteServicios, Trascend.Bolet.Servicios" objectUri="AgenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AnaquaServicios, Trascend.Bolet.Servicios" objectUri="AnaquaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AnexoServicios, Trascend.Bolet.Servicios" objectUri="AnexoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AsignacionServicios, Trascend.Bolet.Servicios" objectUri="AsignacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AsociadoServicios, Trascend.Bolet.Servicios" objectUri="AsociadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.BoletinServicios, Trascend.Bolet.Servicios" objectUri="BoletinServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.BusquedaServicios, Trascend.Bolet.Servicios" objectUri="BusquedaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioDeNombreServicios, Trascend.Bolet.Servicios" objectUri="CambioDeNombreServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioDeDomicilioServicios, Trascend.Bolet.Servicios" objectUri="CambioDeDomicilioServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioPeticionarioServicios, Trascend.Bolet.Servicios" objectUri="CambioPeticionarioServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioDeNombrePatenteServicios, Trascend.Bolet.Servicios" objectUri="CambioDeNombrePatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioDeDomicilioPatenteServicios, Trascend.Bolet.Servicios" objectUri="CambioDeDomicilioPatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioPeticionarioPatenteServicios, Trascend.Bolet.Servicios" objectUri="CambioPeticionarioPatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CartaServicios, Trascend.Bolet.Servicios" objectUri="CartaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CartaOutServicios, Trascend.Bolet.Servicios" objectUri="CartaOutServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CategoriaServicios, Trascend.Bolet.Servicios" objectUri="CategoriaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CesionServicios, Trascend.Bolet.Servicios" objectUri="CesionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CesionPatenteServicios, Trascend.Bolet.Servicios" objectUri="CesionPatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ConceptoServicios, Trascend.Bolet.Servicios" objectUri="ConceptoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CondicionServicios, Trascend.Bolet.Servicios" objectUri="CondicionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ContactoServicios, Trascend.Bolet.Servicios" objectUri="ContactoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CorresponsalServicios, Trascend.Bolet.Servicios" objectUri="CorresponsalServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.DepartamentoServicios, Trascend.Bolet.Servicios" objectUri="DepartamentoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.DepartamentoServicios, Trascend.Bolet.Servicios" objectUri="DepartamentoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.DetallePagoServicios, Trascend.Bolet.Servicios" objectUri="DetallePagoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.DatosTransferenciaServicios, Trascend.Bolet.Servicios" objectUri="DatosTransferenciaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EntradaAlternaServicios, Trascend.Bolet.Servicios" objectUri="EntradaAlternaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InteresadoServicios, Trascend.Bolet.Servicios" objectUri="InteresadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InternacionalServicios, Trascend.Bolet.Servicios" objectUri="InternacionalServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InventorServicios, Trascend.Bolet.Servicios" objectUri="InventorServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InstruccionDeRenovacionServicios, Trascend.Bolet.Servicios" objectUri="InstruccionDeRenovacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.JustificacionServicios, Trascend.Bolet.Servicios" objectUri="JustificacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ListaDatosValoresServicios, Trascend.Bolet.Servicios" objectUri="ListaDatosValoresServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.NacionalServicios, Trascend.Bolet.Servicios" objectUri="NacionalServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EmailAsociadoServicios, Trascend.Bolet.Servicios" objectUri="EmailAsociadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EstadoServicios, Trascend.Bolet.Servicios" objectUri="EstadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EstadoMarcaServicios, Trascend.Bolet.Servicios" objectUri="EstadoMarcaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EstatusServicios, Trascend.Bolet.Servicios" objectUri="EstatusServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EtiquetaServicios, Trascend.Bolet.Servicios" objectUri="EtiquetaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.FechaServicios, Trascend.Bolet.Servicios" objectUri="FechaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.FusionServicios, Trascend.Bolet.Servicios" objectUri="FusionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.FusionPatenteServicios, Trascend.Bolet.Servicios" objectUri="FusionPatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InfoAdicionalServicios, Trascend.Bolet.Servicios" objectUri="InfoAdicionalServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InfoBolServicios, Trascend.Bolet.Servicios" objectUri="InfoBolServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InfoBolMarcaTerServicios, Trascend.Bolet.Servicios" objectUri="InfoBolMarcaTerServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InfoBolPatenteServicios, Trascend.Bolet.Servicios" objectUri="InfoBolPatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.IdiomaServicios, Trascend.Bolet.Servicios" objectUri="IdiomaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.LicenciaServicios, Trascend.Bolet.Servicios" objectUri="LicenciaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.LicenciaPatenteServicios, Trascend.Bolet.Servicios" objectUri="LicenciaPatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ListaDatosDominioServicios, Trascend.Bolet.Servicios" objectUri="ListaDatosDominioServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MarcaServicios, Trascend.Bolet.Servicios" objectUri="MarcaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MarcaBaseTerceroServicios, Trascend.Bolet.Servicios" objectUri="MarcaBaseTerceroServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MarcaTerceroServicios, Trascend.Bolet.Servicios" objectUri="MarcaTerceroServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MedioServicios, Trascend.Bolet.Servicios" objectUri="MedioServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MemoriaServicios, Trascend.Bolet.Servicios" objectUri="MemoriaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MonedaServicios, Trascend.Bolet.Servicios" objectUri="MonedaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ObjetoServicios, Trascend.Bolet.Servicios" objectUri="ObjetoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.OperacionServicios, Trascend.Bolet.Servicios" objectUri="OperacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.PaisServicios, Trascend.Bolet.Servicios" objectUri="PaisServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.PatenteServicios, Trascend.Bolet.Servicios" objectUri="PatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.PlanillaServicios, Trascend.Bolet.Servicios" objectUri="PlanillaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.PoderServicios, Trascend.Bolet.Servicios" objectUri="PoderServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.RemitenteServicios, Trascend.Bolet.Servicios" objectUri="RemitenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.RenovacionServicios, Trascend.Bolet.Servicios" objectUri="RenovacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ReportePatenteServicios, Trascend.Bolet.Servicios" objectUri="ReportePatenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AnualidadServicios, Trascend.Bolet.Servicios" objectUri="AnualidadServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ResolucionServicios, Trascend.Bolet.Servicios" objectUri="ResolucionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ResumenServicios, Trascend.Bolet.Servicios" objectUri="ResumenServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.RolServicios, Trascend.Bolet.Servicios" objectUri="RolServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ServicioServicios, Trascend.Bolet.Servicios" objectUri="ServicioServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.StatusWebServicios, Trascend.Bolet.Servicios" objectUri="StatusWebServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TarifaServicios, Trascend.Bolet.Servicios" objectUri="TarifaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoClienteServicios, Trascend.Bolet.Servicios" objectUri="TipoClienteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoBaseServicios, Trascend.Bolet.Servicios" objectUri="TipoBaseServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoEmailAsociadoServicios, Trascend.Bolet.Servicios" objectUri="TipoEmailAsociadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoEstadoServicios, Trascend.Bolet.Servicios" objectUri="TipoEstadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoFechaServicios, Trascend.Bolet.Servicios" objectUri="TipoFechaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoInfobolServicios, Trascend.Bolet.Servicios" objectUri="TipoInfobolServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.UsuarioServicios, Trascend.Bolet.Servicios" objectUri="UsuarioServicios.rem">
        </wellknown>

        <!--Facturacion-->
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.TasaServicios, Diginsoft.Bolet.Servicios"
          objectUri="TasaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.DocumentosTraduccionServicios, Diginsoft.Bolet.Servicios"
          objectUri="DocumentosTraduccionServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.DocumentosMarcaServicios, Diginsoft.Bolet.Servicios"
          objectUri="DocumentosMarcaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.DocumentosPatenteServicios, Diginsoft.Bolet.Servicios"
          objectUri="DocumentosPatenteServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacAnualidadServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacAnualidadServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.TipoClaseServicios, Diginsoft.Bolet.Servicios"
          objectUri="TipoClaseServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.TipoMarcaServicios, Diginsoft.Bolet.Servicios"
          objectUri="TipoMarcaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.TipoPatenteServicios, Diginsoft.Bolet.Servicios"
          objectUri="TipoPatenteServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.MaterialServicios, Diginsoft.Bolet.Servicios"
          objectUri="MaterialServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacRecursoServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacRecursoServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.MotivoServicios, Diginsoft.Bolet.Servicios"
          objectUri="MotivoServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.DetalleEnvioServicios, Diginsoft.Bolet.Servicios"
          objectUri="DetalleEnvioServicios.rem">
        </wellknown>
        <!--<wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.EtiquetaServicios, Diginsoft.Bolet.Servicios"
          objectUri="EtiquetaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.DetallePagoServicios, Diginsoft.Bolet.Servicios"
          objectUri="DetallePagoServicios.rem">
        </wellknown>-->
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.ImpuestoServicios, Diginsoft.Bolet.Servicios"
          objectUri="ImpuestoServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.SociedadServicios, Diginsoft.Bolet.Servicios"
          objectUri="SociedadServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.GuiaServicios, Diginsoft.Bolet.Servicios"
          objectUri="GuiaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.ServicioServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacServicioServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacJustificacionServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacJustificacionServicios.rem">
        </wellknown>

        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.DepartamentoServicioServicios, Diginsoft.Bolet.Servicios"
          objectUri="DepartamentoServicioServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.DesgloseServicioServicios, Diginsoft.Bolet.Servicios"
          objectUri="DesgloseServicioServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.TarifaServicioServicios, Diginsoft.Bolet.Servicios"
          objectUri="TarifaServicioServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.ConceptoGestionServicios, Diginsoft.Bolet.Servicios"
          objectUri="ConceptoGestionServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.MediosGestionServicios, Diginsoft.Bolet.Servicios"
          objectUri="MediosGestionServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.ViGestionAsociadoServicios, Diginsoft.Bolet.Servicios"
          objectUri="ViGestionAsociadoServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.BancoGServicios, Diginsoft.Bolet.Servicios"
          objectUri="BancoGServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.ChequeRecidoServicios, Diginsoft.Bolet.Servicios"
          objectUri="ChequeRecidoServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacBancoServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacBancoServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacPagoBoliviaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacPagoBoliviaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacCobroServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacCobroServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacCreditoServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacCreditoServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacFormaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacFormaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.ContadorFacServicios, Diginsoft.Bolet.Servicios"
          objectUri="ContadorFacServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacCobroFacturaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacCobroFacturaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionDetalleServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionDetalleServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionDetaAnuladaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionDetaAnuladaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionDetaProformaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionDetaProformaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionDetalleTmServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionDetalleTmServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacFactuDetaProformaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacFactuDetaProformaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacFactuDetalleServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacFactuDetalleServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionDetaTmProformaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionDetaTmProformaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionAnuladaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionAnuladaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionProformaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionProformaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacContadorProServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacContadorProServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacImpuestoServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacImpuestoServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacFacturaProformaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacFacturaProformaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacInternacionalServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacInternacionalServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacFacturaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacFacturaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacInternacionalAnuladaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacInternacionalAnuladaServicios.rem">
        </wellknown>
        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacFacturaAnuladaServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacFacturaAnuladaServicios.rem">
        </wellknown>
        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacFactuDetaAnuladaServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacFactuDetaAnuladaServicios.rem">
        </wellknown>
        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacAnuladaFisicaServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacAnuladaFisicaServicios.rem">
        </wellknown>

        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacFacturaTotalZServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacFacturaTotalZServicios.rem">
        </wellknown>

        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacFacturaTotalServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacFacturaTotalServicios.rem">
        </wellknown>

        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacOperacionPaisServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacOperacionPaisServicios.rem">
        </wellknown>

        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacFacturaPendienteServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacFacturaPendienteServicios.rem">
        </wellknown>

        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacStatementProcesarServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacStatementProcesarServicios.rem">
        </wellknown>

        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacDesgloseColeServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacDesgloseColeServicios.rem">
        </wellknown>

        <wellknown
          mode="Singleton"
          type="Diginsoft.Bolet.Servicios.Implementacion.FacGestionServicios, Diginsoft.Bolet.Servicios"
          objectUri="FacGestionServicios.rem">
        </wellknown>

        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacFacturaPendienteConGruServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacFacturaPendienteConGruServicios.rem">
        </wellknown>
        
        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacVistaFacturacionCxpInternaServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacVistaFacturacionCxpInternaServicios.rem">
        </wellknown>

        <wellknown
  mode="Singleton"
  type="Diginsoft.Bolet.Servicios.Implementacion.FacVistaFacturaServicioServicios, Diginsoft.Bolet.Servicios"
  objectUri="FacVistaFacturaServicioServicios.rem">
        </wellknown>
        <!--fin Facturacion-->
        
        
      </service>
    </application>
  </system.runtime.remoting>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleClientDriver</property>
      <!--<property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>-->
      <property name="connection.connection_string">

        <!--Conexión vieja al servidor 192.168.1.173-->

        User Id=bolet;
        Password=bolet;
        Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.173)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=PROD.BOLYTER.COM)));

        <!--Fin Conexión vieja al servidor 192.168.1.173-->


        <!--Conexión al servidor 192.168.1.164-->

        <!--User Id=BOLET;
        Password=BOLET;
        Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.164)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=PROD)));-->
        <!--(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.164)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=xe)))
        (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.164)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=xe)))-->
        <!--Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.173)(PORT=1521)))(CONNECT_DATA=(SID=PROD)));-->
        <!--Fin Conexión al servidor 192.168.1.164-->


        <!--User Id=bolet;
        Password=bolet;
        Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=FRINK)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=xe)));-->

      </property>
      <property name="show_sql">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="current_session_context_class">thread_static</property>
      <mapping assembly="Trascend.Bolet.AccesoDatos" />
      <mapping assembly="Diginsoft.Bolet.AccesoDatos"/>
    </session-factory>
  </hibernate-configuration>


</configuration>