<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>
    <!--Posibles manejadores: NHibernate-->
    <add key="ManejadorBD" value="NHibernate" />

    <!--Manejador utilizado para el llamado de los StoredProcedures-->
    <add key="ManejadorStoredProcedures" value="Oracle" />
    
    <!--String de conexion para Stored Procedures-->
     <add key="StringConexion" value="User Id=bolet; Password=bolet; Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.2.4)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=xe)));"/> 
    
    <!-- Colocar ambiente de "Desarrollo" para imprimir el log de debug -->
    <add key="Ambiente" value="Desarrollo" />
    
    <!--Ruta donde se encontrara las sesiones de los usuarios-->
    <add key="RutaXMLUsuarios" value="Usuarios.xml"/>
    
  </appSettings>
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application>
      <channels>
        <channel ref="tcp" port="53108">
          <serverProviders>
            <provider ref="wsdl" />
            <formatter ref="soap" typeFilterLevel="Full" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AgenteServicios, Trascend.Bolet.Servicios" objectUri="AgenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AnaquaServicios, Trascend.Bolet.Servicios" objectUri="AnaquaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AnexoServicios, Trascend.Bolet.Servicios" objectUri="AnexoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AsignacionServicios, Trascend.Bolet.Servicios" objectUri="AsignacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.AsociadoServicios, Trascend.Bolet.Servicios" objectUri="AsociadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.BoletinServicios, Trascend.Bolet.Servicios" objectUri="BoletinServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.BusquedaServicios, Trascend.Bolet.Servicios" objectUri="BusquedaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioDeNombreServicios, Trascend.Bolet.Servicios" objectUri="CambioDeNombreServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioDeDomicilioServicios, Trascend.Bolet.Servicios" objectUri="CambioDeDomicilio.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CambioPeticionarioServicios, Trascend.Bolet.Servicios" objectUri="CambioPeticionario.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CartaServicios, Trascend.Bolet.Servicios" objectUri="CartaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CartaOutServicios, Trascend.Bolet.Servicios" objectUri="CartaOutServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CategoriaServicios, Trascend.Bolet.Servicios" objectUri="CategoriaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CesionServicios, Trascend.Bolet.Servicios" objectUri="CesionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ConceptoServicios, Trascend.Bolet.Servicios" objectUri="ConceptoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CondicionServicios, Trascend.Bolet.Servicios" objectUri="CondicionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ContactoServicios, Trascend.Bolet.Servicios" objectUri="ContactoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.CorresponsalServicios, Trascend.Bolet.Servicios" objectUri="CorresponsalServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.DepartamentoServicios, Trascend.Bolet.Servicios" objectUri="DepartamentoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.DepartamentoServicios, Trascend.Bolet.Servicios" objectUri="DepartamentoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.DetallePagoServicios, Trascend.Bolet.Servicios" objectUri="DetallePagoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.DatosTransferenciaServicios, Trascend.Bolet.Servicios" objectUri="DatosTransferenciaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EntradaAlternaServicios, Trascend.Bolet.Servicios" objectUri="EntradaAlternaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InteresadoServicios, Trascend.Bolet.Servicios" objectUri="InteresadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InternacionalServicios, Trascend.Bolet.Servicios" objectUri="InternacionalServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.JustificacionServicios, Trascend.Bolet.Servicios" objectUri="JustificacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ListaDatosValoresServicios, Trascend.Bolet.Servicios" objectUri="ListaDatosValoresServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.NacionalServicios, Trascend.Bolet.Servicios" objectUri="NacionalServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EstadoServicios, Trascend.Bolet.Servicios" objectUri="EstadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EstadoMarcaServicios, Trascend.Bolet.Servicios" objectUri="EstadoMarcaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EstatusServicios, Trascend.Bolet.Servicios" objectUri="EstatusServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.EtiquetaServicios, Trascend.Bolet.Servicios" objectUri="EtiquetaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.FusionServicios, Trascend.Bolet.Servicios" objectUri="FusionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InfoAdicionalServicios, Trascend.Bolet.Servicios" objectUri="InfoAdicionalServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.InfoBolServicios, Trascend.Bolet.Servicios" objectUri="InfoBolServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.IdiomaServicios, Trascend.Bolet.Servicios" objectUri="IdiomaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.LicenciaServicios, Trascend.Bolet.Servicios" objectUri="LicenciaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ListaDatosDominioServicios, Trascend.Bolet.Servicios" objectUri="ListaDatosDominioServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MarcaServicios, Trascend.Bolet.Servicios" objectUri="MarcaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MarcaTerceroServicios, Trascend.Bolet.Servicios" objectUri="MarcaTerceroServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MedioServicios, Trascend.Bolet.Servicios" objectUri="MedioServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.MonedaServicios, Trascend.Bolet.Servicios" objectUri="MonedaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ObjetoServicios, Trascend.Bolet.Servicios" objectUri="ObjetoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.OperacionServicios, Trascend.Bolet.Servicios" objectUri="OperacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.PaisServicios, Trascend.Bolet.Servicios" objectUri="PaisServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.PlanillaServicios, Trascend.Bolet.Servicios" objectUri="PlanillaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.PoderServicios, Trascend.Bolet.Servicios" objectUri="PoderServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.RemitenteServicios, Trascend.Bolet.Servicios" objectUri="RemitenteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.RenovacionServicios, Trascend.Bolet.Servicios" objectUri="RenovacionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ResolucionServicios, Trascend.Bolet.Servicios" objectUri="ResolucionServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ResumenServicios, Trascend.Bolet.Servicios" objectUri="ResumenServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.RolServicios, Trascend.Bolet.Servicios" objectUri="RolServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.ServicioServicios, Trascend.Bolet.Servicios" objectUri="ServicioServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.StatusWebServicios, Trascend.Bolet.Servicios" objectUri="StatusWebServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TarifaServicios, Trascend.Bolet.Servicios" objectUri="TarifaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoClienteServicios, Trascend.Bolet.Servicios" objectUri="TipoClienteServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoBaseServicios, Trascend.Bolet.Servicios" objectUri="TipoBaseServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoEstadoServicios, Trascend.Bolet.Servicios" objectUri="TipoEstadoServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoFechaServicios, Trascend.Bolet.Servicios" objectUri="TipoFechaServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.TipoInfobolServicios, Trascend.Bolet.Servicios" objectUri="TipoInfobolServicios.rem">
        </wellknown>
        <wellknown mode="Singleton" type="Trascend.Bolet.Servicios.Implementacion.UsuarioServicios, Trascend.Bolet.Servicios" objectUri="UsuarioServicios.rem">
        </wellknown>
      </service>
    </application>
  </system.runtime.remoting>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleClientDriver</property>
      <!--<property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>-->
      <property name="connection.connection_string">
        User Id=bolet;
        Password=bolet;
        <!--Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.173)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=PROD.BOLYTER.COM)));-->
       Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.2.4)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=xe))); 
      </property>
      <property name="show_sql">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="current_session_context_class">thread_static</property>
      <mapping assembly="Trascend.Bolet.AccesoDatos" />
    </session-factory>
  </hibernate-configuration>

  
</configuration>